.container {
  padding: 0;
}

.row {
  max-width: 500px;
}
.weather-app {
  border-radius: 4px;
  background-color: #4d4d4d;
  color: #fff;
  width: 500px;
  padding: 20px;
  margin: 0 auto;
}
ul {
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  list-style-type: none;
  justify-content: space-evenly;
  margin: 0 auto;
}

li {
  margin: 0 35px 0 35px;
  padding: 5px;
}

.search-weather {
  text-align: center;
  background-color: #5c5c5c;
  padding: 10px;
}

#search {
  text-align: left;
  width: 80%;
  border: 1px solid #e2e2e2;
  padding: 5px;
}

#submit {
  padding: 5px;
  border: 1px solid #e2e2e2;
  background-color: #e2e2e2;
  color: #4d4d4d;
  transition: 300ms all ease-in-out;
}

#submit:hover {
  background-color: #4b4646;
  color: #fff;
}

@media (max-width: 415px) {
  .weather-app {
    background-color: #4d4d4d;
    color: #fff;
    width: 350px;
  }
  #search {
    width: 50%;
  }
}

.main-information {
  text-align: center;
}

.celsius {
  font-size: 12px;
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
  border-radius: 20px 0 0 20px;
  text-align: left;
  transition: 200ms all ease-in-out;
  height: 30px;
  width: 20px;
}

.farenheit {
  font-size: 12px;
  background-color: #e2e2e2;
  border: 1px solid #e2e2e2;
  border-radius: 0 20px 20px 0;
  text-align: right;
  transition: 200ms all ease-in-out;
  height: 30px;
  width: 20px;
}

.celsius:hover,
.farenheit:hover {
  background: #5c5c5c;
  color: #e2e2e2;
}

.active:active {
  background: #252525;
  color: #fff;
}

.temperature {
  color: #fff;
  font-size: 30px;
}

.weather-extra-information {
  width: 25%;
  left: 30px;
  top: -300px;
  position: relative;
}

.weather-extra-information li {
  border-left: 1px solid #fff;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 10px;
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  text-align: center;
  margin: 5px;
}

.forecast {
  text-align: center;
  font-size: 12px;
}

.footer {
  background-color: #cfcfcf;
  font-size: 12px;
  padding: 5px;
  color: #252525;
  text-align: center;
  margin-top: -120px;
}

span a {
  text-decoration: none;
  color: #252525;
  font-weight: bold;
  transition: 200ms all ease-in-out;
}

span a:hover {
  color: #705f5f;
}
