:root {
  --main-light-background: #e5dcc3;
  --search-bar: #ede7cf;
  --accent: #d4ceb0;
  --dark-information: #858171;
  --button-color: #d4ceb0;
  --dark-accent: #464239;
}

.container {
  padding-left: 0;
  margin: 0 auto;
}

.weather-app {
  border-radius: 4px;
  background-color: var(--main-light-background);
  color: var(--dark-information);
  width: 500px;
  padding: 20px;
  margin: 0 auto;
}
ul {
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  list-style-type: none;
  justify-content: space-evenly;
  margin: 0 auto;
}

li {
  margin: 0 35px 0 35px;
  padding: 5px;
}

.search-weather {
  text-align: center;
  background-color: var(--search-bar);
  padding: 10px;
}

#search {
  text-align: left;
  width: 80%;
  border: 1px solid var(--search-bar);
  padding: 5px;
}

#submit {
  padding: 5px;
  border: 1px solid var(--button-color);
  background-color: var(--button-color);
  color: #fff;
  transition: 300ms all ease-in-out;
}

#submit:hover {
  background-color: var(--dark-information);
  color: #fff;
}

@media (max-width: 415px) {
  .weather-app {
    background-color: var(--dark-information);
    color: #fff;
    width: 350px;
    padding: 10px;
  }
  #search {
    width: 50%;
  }
}

.main-information {
  text-align: center;
}

.celsius {
  background-color: var(--dark-accent);
  border: 1px solid var(--dark-accent);
  color: #fff;
  border-radius: 20px 0 0 20px;
  text-align: left;
}

.farenheit {
  background-color: var(--dark-accent);
  border: 1px solid var(--dark-accent);
  color: #fff;
  border-radius: 0 20px 20px 0;
  text-align: right;
}

.celsius:hover,
.farenheit:hover {
  background: #9b9589;
  color: var(--main-light-background);
}

.temperature {
  color: var(--dark-information);
  font-size: 30px;
}

.weather-extra-information {
  width: 25%;
  left: 30px;
  top: -50px;
  position: relative;
}

.weather-extra-information li {
  border-left: 1px solid #fff;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 10px;
  background-color: #000;
  opacity: 0.7;
  width: 100%;
  text-align: center;
  margin: 5px;
}

.forecast {
  text-align: center;
  font-size: 12px;
}

.footer {
  background-color: var(--dark-accent);
  font-size: 12px;
  padding: 5px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
